[Desktop Entry]
Type=Application
Name=Vixeeny
GenericName=Screenshot and screen recorder
Comment=Capture, annotate and record your screen
Exec=vixeeny-daemon
Icon=io.github.Xantoom.Vixeeny
Terminal=false
Categories=Graphics;Utility;
Keywords=screenshot;screen;capture;record;ocr;
StartupNotify=false
